<a href="https://colab.research.google.com/github/spacemaninSeoul/fast_campus_ML300/blob/main/Chapter_05_%E1%84%86%E1%85%B5%E1%84%80%E1%85%AE%E1%86%A8%E1%84%8B%E1%85%B4_%E1%84%83%E1%85%A2%E1%84%90%E1%85%A9%E1%86%BC%E1%84%85%E1%85%A7%E1%86%BC%E1%84%8B%E1%85%B3%E1%86%AB_%E1%84%8B%E1%85%A5%E1%84%84%E1%85%A5%E1%87%82%E1%84%80%E1%85%A6_%E1%84%88%E1%85%A9%E1%86%B8%E1%84%92%E1%85%B5%E1%86%AF%E1%84%81%E1%85%A1(%E1%84%86%E1%85%AE%E1%86%AB%E1%84%8C%E1%85%A6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주제 : 미국의 대통령은 어떻게 뽑힐까?
----------

## 실습 가이드
    1. 데이터를 다운로드하여 Colab에 불러옵니다.
    2. 필요한 라이브러리는 모두 코드로 작성되어 있습니다.
    3. 코드는 위에서부터 아래로 순서대로 실행합니다.
    
    
## 데이터 소개
    - 이번 주제는 US Election 2020 데이터셋을 사용합니다.
    
    - 총 11개의 파일 중 정보가 가장 많은 2개의 파일을 사용합니다.
    president_county_candidate.csv: 대통령 투표 결과
    governors_county_candidate.csv: 카운티 지사 투표 결과
    
    - 총 1개의 보조 데이터를 이용합니다.
    acs2017_county_data.csv: 카운티별 인구조사 데이터
    
    - 각 파일의 컬럼은 아래와 같습니다.
    state: 주
    county: 카운티(군)
    district: 지구
    candidate: 후보자
    party: 후보자의 소속 정당
    total_votes: 득표 수
    won: 지역 투표 우승 여부
    
    
    
- 데이터 출처: https://www.kaggle.com/unanimad/us-election-2020
- 보조 데이터: https://www.kaggle.com/muonneutrino/us-census-demographic-data

## 최종 목표
    - 보조 데이터셋을 이용하여 데이터셋 보강하는 방법 이해
    - plotly를 이용한 Choropleth 시각화 방법 이해
    - Regression과 Classification의 차이 이해

- 출제자 : 신제용 강사
---

## Step 0. 데이터에 관한 사전 배경 지식

### 미국의 선거 제도에 대하여

### 2020 미국 선거 데이터셋 설명

### 2017 미국 인구조사 데이터셋(보조 데이터셋) 설명

## Step 1. 데이터셋 준비하기

In [1]:
!pip install geopandas
!pip install pyshp
!pip install shapely
!pip install plotly-geo

Collecting geopandas
  Downloading geopandas-0.10.1-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 28.1 MB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 49.4 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 39 kB/s
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.19.5)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.10.1 munch-2.5.0 pyproj-3.2.1
Collecting pyshp
  Downloading pyshp-2.1.3.tar.gz (219 kB)
     |████████████████████████████████| 219 kB 30.7 MB/s
Building wheels for collected packages: pyshp
  Building wheel for pyshp (setup.py) ... done
  Created wheel for pyshp: filename=pyshp-2.1.3-py3-none-any.whl size=37325 sha256=7ff74092be61f0a221f14e8b2f677e6d016e5d03099026aab247bd336b4413a5
  Stored in directory: /root/.cache/pip/wheels/43/f8/87/53c8cd41545ba20e536ea29a8fcb5431b5f477ca50d5dffbbe
Successfully built pyshp
Installing collected packages: pyshp
Successfully installed pyshp-2.1.3
Requirement already satisfied: shapely in /usr/local/lib/python3.7/dist-packages (1.7.1)
Collecting plotly-geo
  Downloading plotly_geo-1.0.0-py3-none-any.whl (23.7 MB)
     |████████████████████████████████| 23.7 MB 1.3 MB/s
Installing collected packages: plotly-geo
Successfully installed plotly-geo-1.0.0

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 문제 1. Colab Notebook에 Kaggle API 세팅하기

In [3]:
import os

In [36]:
# os.environ을 이용하여 Kaggle API Username, Key 세팅하기
os.environ ['KAGGLE_USERNAME'] = "pseudoexaminee"
os.environ ['KAGGLE_KEY']= '50ef5cd85c486772c23beb302ab99e32'

### 문제 2. 데이터 다운로드 및 압축 해제하기

In [37]:
# Linux 명령어로 Kaggle API를 이용하여 데이터셋 다운로드하기 (!kaggle ~)
# Linux 명령어로 압축 해제하기

!kaggle datasets download -d unanimad/us-election-2020
!kaggle datasets download -d muonneutrino/us-census-demographic-data
!unzip '*.zip'

us-election-2020.zip: Skipping, found more recently modified local copy (use --force to force download)
us-census-demographic-data.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  us-census-demographic-data.zip
replace acs2015_census_tract_data.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

### 문제 3. Pandas 라이브러리로 csv파일 읽어들이기

In [49]:
# from US Election 2020
df_pres = pd.read_csv('/content/president_county_candidate.csv')
df_gov = pd.read_csv('/content/governors_county_candidate.csv')

# from US Census 2017
df_census = pd.read_csv('/content/acs2017_county_data.csv')

In [43]:
# State Code 관련 부가 자료
state_code = pd.read_html('https://www.infoplease.com/us/postal-information/state-abbreviations-and-state-postal-codes')[0]

## Step 2. EDA 및 데이터 기초 통계 분석

### 문제 4. 각 데이터프레임 구조 및 기초 통계 확인하기

In [10]:
# DataFrame에서 제공하는 메소드를 이용하여 각 데이터프레임의 구조 분석하기 (head(), info(), describe())

df_pres.head(10)

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True
5  Delaware  New Castle County   Donald Trump   REP        88364  False
6  Delaware  New Castle County   Jo Jorgensen   LIB         2953  False
7  Delaware  New Castle County  Howie Hawkins   GRN         1282  False
8  Delaware      Sussex County   Donald Trump   REP        71230   True
9  Delaware      Sussex County      Joe Biden   DEM        56682  False

In [39]:
df_pres['candidate'].unique()

array(['Joe Biden', 'Donald Trump', 'Jo Jorgensen', 'Howie Hawkins',
       ' Write-ins', 'Gloria La Riva', 'Brock Pierce',
       'Rocky De La Fuente', 'Don Blankenship', 'Kanye West',
       'Brian Carroll', 'Ricki Sue King', 'Jade Simmons',
       'President Boddie', 'Bill Hammons', 'Tom Hoefling',
       'Alyson Kennedy', 'Jerome Segal', 'Phil Collins',
       ' None of these candidates', 'Sheila Samm Tittle', 'Dario Hunter',
       'Joe McHugh', 'Christopher LaFontaine', 'Keith McCormic',
       'Brooke Paige', 'Gary Swing', 'Richard Duncan', 'Blake Huber',
       'Kyle Kopitke', 'Zachary Scalf', 'Jesse Ventura', 'Connie Gammon',
       'John Richard Myers', 'Mark Charles', 'Princess Jacob-Fambro',
       'Joseph Kishore', 'Jordan Scott'], dtype=object)

In [40]:
df_pres.loc[df_pres['candidate'] == 'Kanye West']['total_votes'].sum()

66367

In [11]:
df_pres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32177 entries, 0 to 32176
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        32177 non-null  object
 1   county       32177 non-null  object
 2   candidate    32177 non-null  object
 3   party        32177 non-null  object
 4   total_votes  32177 non-null  int64
 5   won          32177 non-null  bool
dtypes: bool(1), int64(1), object(4)
memory usage: 1.3+ MB

In [12]:
df_pres.describe()

        total_votes
count  3.217700e+04
mean   4.960321e+03
std    3.581577e+04
min    0.000000e+00
25%    3.000000e+00
50%    3.400000e+01
75%    7.450000e+02
max    3.028885e+06

In [19]:
df_pres['state'].unique()

array(['Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii',
       'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Alabama', 'Alaska',
       'Arkansas', 'California', 'Colorado', 'Connecticut', 'Arizona'],
      dtype=object)

In [13]:
df_gov.head()

      state             county        candidate party   votes    won
0  Delaware        Kent County      John Carney   DEM   44352   True
1  Delaware        Kent County  Julianne Murray   REP   39332  False
2  Delaware        Kent County  Kathy DeMatteis   IPD    1115  False
3  Delaware        Kent County    John Machurek   LIB     616  False
4  Delaware  New Castle County      John Carney   DEM  191678   True

In [14]:
df_gov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5145 entries, 0 to 5144
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   state      5145 non-null   object
 1   county     5145 non-null   object
 2   candidate  5145 non-null   object
 3   party      5145 non-null   object
 4   votes      5145 non-null   int64
 5   won        5145 non-null   bool
dtypes: bool(1), int64(1), object(4)
memory usage: 206.1+ KB

In [15]:
df_gov['state'].unique()

array(['Delaware', 'Indiana', 'Missouri', 'Montana', 'New Hampshire',
       'North Carolina', 'North Dakota', 'Utah', 'Vermont', 'Washington',
       'West Virginia'], dtype=object)

In [50]:
df_census.head()

   CountyId    State          County  ...  SelfEmployed  FamilyWork  Unemployment
0      1001  Alabama  Autauga County  ...           5.6         0.1           5.2
1      1003  Alabama  Baldwin County  ...           6.3         0.1           5.5
2      1005  Alabama  Barbour County  ...           6.5         0.3          12.4
3      1007  Alabama     Bibb County  ...           6.3         0.3           8.2
4      1009  Alabama   Blount County  ...           4.0         0.1           4.9

[5 rows x 37 columns]

In [51]:
df_census['County'].value_counts()

Washington County      30
Jefferson County       25
Franklin County        24
Lincoln County         23
Jackson County         23
                       ..
Antrim County           1
St. Lawrence County     1
Bailey County           1
Ware County             1
Pinal County            1
Name: County, Length: 1955, dtype: int64

In [22]:
df_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220 entries, 0 to 3219
Data columns (total 37 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CountyId          3220 non-null   int64
 1   State             3220 non-null   object
 2   County            3220 non-null   object
 3   TotalPop          3220 non-null   int64
 4   Men               3220 non-null   int64
 5   Women             3220 non-null   int64
 6   Hispanic          3220 non-null   float64
 7   White             3220 non-null   float64
 8   Black             3220 non-null   float64
 9   Native            3220 non-null   float64
 10  Asian             3220 non-null   float64
 11  Pacific           3220 non-null   float64
 12  VotingAgeCitizen  3220 non-null   int64
 13  Income            3220 non-null   int64
 14  IncomeErr         3220 non-null   int64
 15  IncomePerCap      3220 non-null   int64
 16  IncomePerCapErr   3220 non-null   int64
 17  Poverty           3220 non-null   float64
 18  ChildPoverty      3219 non-null   float64
 19  Professional      3220 non-null   float64
 20  Service           3220 non-null   float64
 21  Office            3220 non-null   float64
 22  Construction      3220 non-null   float64
 23  Production        3220 non-null   float64
 24  Drive             3220 non-null   float64
 25  Carpool           3220 non-null   float64
 26  Transit           3220 non-null   float64
 27  Walk              3220 non-null   float64
 28  OtherTransp       3220 non-null   float64
 29  WorkAtHome        3220 non-null   float64
 30  MeanCommute       3220 non-null   float64
 31  Employed          3220 non-null   int64
 32  PrivateWork       3220 non-null   float64
 33  PublicWork        3220 non-null   float64
 34  SelfEmployed      3220 non-null   float64
 35  FamilyWork        3220 non-null   float64
 36  Unemployment      3220 non-null   float64
dtypes: float64(25), int64(10), object(2)
memory usage: 930.9+ KB

In [24]:
df_census.describe()

           CountyId      TotalPop  ...   FamilyWork  Unemployment
count   3220.000000  3.220000e+03  ...  3220.000000   3220.000000
mean   31393.605280  1.007681e+05  ...     0.278820      6.665590
std    16292.078954  3.244996e+05  ...     0.448073      3.772612
min     1001.000000  7.400000e+01  ...     0.000000      0.000000
25%    19032.500000  1.121350e+04  ...     0.100000      4.475000
50%    30024.000000  2.584750e+04  ...     0.200000      6.100000
75%    46105.500000  6.660825e+04  ...     0.300000      8.000000
max    72153.000000  1.010572e+07  ...     8.000000     40.900000

[8 rows x 35 columns]

In [48]:
state_code.head()

  State Name/District Postal Abbreviation Postal Code
0             Alabama                Ala.          AL
1              Alaska              Alaska          AK
2             Arizona               Ariz.          AZ
3            Arkansas                Ark.          AR
4          California              Calif.          CA

### 문제 5. County 별 통계로 데이터프레임 구조 변경하기

In [67]:
# 모든 데이터프레임의 index를 County로 변경하기
data = df_pres.loc[df_pres['party'].apply(lambda s: str(s) in ['DEM', 'REP'])]
table_pres = pd.pivot_table(data=data, index=['state','county'], columns='party', values='total_votes')
table_pres.rename({'DEM':'Pres_DEM', 'REP':'Pres_REP'}, axis=1, inplace=True)
table_pres

party                      Pres_DEM  Pres_REP
state   county
Alabama Autauga County         7503     19838
        Baldwin County        24578     83544
        Barbour County         4816      5622
        Bibb County            1986      7525
        Blount County          2640     24711
...                             ...       ...
Wyoming Sweetwater County      3823     12229
        Teton County           9848      4341
        Uinta County           1591      7496
        Washakie County         651      3245
        Weston County           360      3107

[4633 rows x 2 columns]

In [68]:
data = df_gov.loc[df_gov['party'].apply(lambda s: str(s) in ['DEM', 'REP'])]
table_gov = pd.pivot_table(data=data, index=['state','county'], columns='party', values='votes')
table_gov.rename({'DEM':'Gov_DEM', 'REP':'Gov_REP'}, axis=1, inplace=True)
table_gov

party                            Gov_DEM  Gov_REP
state         county
Delaware      Kent County          44352    39332
              New Castle County   191678    82545
              Sussex County        56873    68435
Indiana       Adams County          2143     9441
              Allen County         53895    98406
...                                  ...      ...
West Virginia Webster County         659     2552
              Wetzel County         1727     4559
              Wirt County            483     1947
              Wood County           9933    26232
              Wyoming County        1240     6941

[1025 rows x 2 columns]

In [66]:
df_census.rename({'State':'state', 'County':'county'}, axis=1, inplace=True)
#df_census.drop('CountyId',axis=1, inplace=True)
df_census.set_index(['state', 'county'], inplace=True)
df_census

                                 TotalPop    Men  ...  FamilyWork  Unemployment
state       county                                ...
Alabama     Autauga County          55036  26899  ...         0.1           5.2
            Baldwin County         203360  99527  ...         0.1           5.5
            Barbour County          26201  13976  ...         0.3          12.4
            Bibb County             22580  12251  ...         0.3           8.2
            Blount County           57667  28490  ...         0.1           4.9
...                                   ...    ...  ...         ...           ...
Puerto Rico Vega Baja Municipio     54754  26269  ...         0.2          16.8
            Vieques Municipio        8931   4351  ...         0.0          12.8
            Villalba Municipio      23659  11510  ...         0.2          24.8
            Yabucoa Municipio       35025  16984  ...         0.0          25.4
            Yauco Municipio         37585  18052  ...         0.0          24.0

[3220 rows x 34 columns]

In [71]:
df_census.columns

Index(['TotalPop', 'Men', 'Women', 'Hispanic', 'White', 'Black', 'Native',
       'Asian', 'Pacific', 'VotingAgeCitizen', 'IncomePerCap', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [70]:
# 불필요한 칼럼들 제거
df_census.drop(['Income', 'IncomeErr', 'IncomePerCapErr'], axis=1, inplace=True)

In [72]:
# 다중공산성 문제를 해결하기 위한 작업
df_census.drop(['Women'], axis=1, inplace=True)
df_census['Men'] /= df_census['TotalPop']

In [73]:
df_census['VotingAgeCitizen'] /= df_census['TotalPop']
df_census['Employed'] /= df_census['TotalPop']

In [74]:
df_census.head()

                        TotalPop       Men  ...  FamilyWork  Unemployment
state   county                              ...
Alabama Autauga County     55036  0.488753  ...         0.1           5.2
        Baldwin County    203360  0.489413  ...         0.1           5.5
        Barbour County     26201  0.533415  ...         0.3          12.4
        Bibb County        22580  0.542560  ...         0.3           8.2
        Blount County      57667  0.494043  ...         0.1           4.9

[5 rows x 30 columns]

### 문제 6. 여러 데이터프레임을 하나의 데이터프레임으로 결합하기

In [75]:
# df_pres, df_gov, df_census 데이터프레임을 하나로 결합하기

df = pd.concat([table_pres, table_gov, df_census], axis=1)

In [76]:
df

                           Pres_DEM  Pres_REP  ...  FamilyWork  Unemployment
state   county                                 ...
Alabama Autauga County       7503.0   19838.0  ...         0.1           5.2
        Baldwin County      24578.0   83544.0  ...         0.1           5.5
        Barbour County       4816.0    5622.0  ...         0.3          12.4
        Bibb County          1986.0    7525.0  ...         0.3           8.2
        Blount County        2640.0   24711.0  ...         0.1           4.9
...                             ...       ...  ...         ...           ...
Wyoming Sweetwater County    3823.0   12229.0  ...         0.0           5.2
        Teton County         9848.0    4341.0  ...         0.0           1.3
        Uinta County         1591.0    7496.0  ...         0.4           6.4
        Washakie County       651.0    3245.0  ...         0.2           6.1
        Weston County         360.0    3107.0  ...         1.1           2.2

[4809 rows x 34 columns]

In [77]:
df.isna().sum()

Pres_DEM             176
Pres_REP             176
Gov_DEM             3784
Gov_REP             3784
TotalPop            1589
Men                 1589
Hispanic            1589
White               1589
Black               1589
Native              1589
Asian               1589
Pacific             1589
VotingAgeCitizen    1589
IncomePerCap        1589
Poverty             1589
ChildPoverty        1590
Professional        1589
Service             1589
Office              1589
Construction        1589
Production          1589
Drive               1589
Carpool             1589
Transit             1589
Walk                1589
OtherTransp         1589
WorkAtHome          1589
MeanCommute         1589
Employed            1589
PrivateWork         1589
PublicWork          1589
SelfEmployed        1589
FamilyWork          1589
Unemployment        1589
dtype: int64

### 문제 7. 컬럼간의 Correlation을 Heatmap으로 표현하기

In [ ]:
# DataFrame의 corr() 메소드와 Seaborn의 heatmap() 메소드를 이용하여 Pearson's correlation 시각화하기

### 문제 8. Seaborn을 이용하여 연관성 높은 데이터의 Jointplot 확인

## Step 3. Plotly를 이용하여 데이터 시각화하기

### 문제 9. Plotly의 Choropleth 데이터 포맷으로 맞추기

In [ ]:
import plotly.figure_factory as ff

# FIPS 코드 불러오기
df_sample = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/laucnty16.csv')
df_sample['State FIPS Code'] = df_sample['State FIPS Code'].apply(lambda x: str(x).zfill(2))
df_sample['County FIPS Code'] = df_sample['County FIPS Code'].apply(lambda x: str(x).zfill(3))
df_sample['FIPS'] = df_sample['State FIPS Code'] + df_sample['County FIPS Code']

# Color Scale 세팅
colorscale = ["#f7fbff","#ebf3fb","#deebf7","#d2e3f3","#c6dbef","#b3d2e9","#9ecae1",
              "#85bcdb","#6baed6","#57a0ce","#4292c6","#3082be","#2171b5","#1361a9",
              "#08519c","#0b4083","#08306b"]

In [ ]:
# ff.create_choropleth()에서 사용할 수 있도록 데이터프레임 정리하기
# Hint) 공식 레퍼런스 참조: https://plotly.com/python/county-choropleth/#the-entire-usa

### 문제 10. Choropleth map 시각화하기

In [ ]:
# ff.create_choropleth() 메소드를 이용하여 Choropleth 플랏하기
# Hint) 공식 레퍼런스 참조: https://plotly.com/python/county-choropleth/#the-entire-usa

fig = ff.create_choropleth(...)



fig.layout.template = None
fig.show()

## Step 4. 모델 학습을 위한 데이터 전처리

### 문제 11. 학습을 위한 데이터프레임 구성하기

In [ ]:
# 투표 결과에 해당하는 데이터는 입력 데이터에서 제거한다.
# 예측 타겟은 DEM vs. REP 투표 비율로 한다.

X =
y =

### 문제 12. StandardScaler를 이용해 수치형 데이터 표준화하기

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
# StandardScaler를 이용해 수치형 데이터를 표준화하기
scaler =
X =

### 문제 13. 학습데이터와 테스트데이터 분리하기

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# train_test_split() 함수로 학습 데이터와 테스트 데이터 분리하기
X_train, X_test, y_train, y_test =

### 문제 14. PCA를 이용해 데이터 전처리 수행하기

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
# PCA를 이용해 Dimensionality Reduction 수행하기
pca =

## Step 4. Regression 모델 학습하기

### 문제 15. LightGBM Regression 모델 학습하기

In [ ]:
from lightgbm import LGBMRegressor

In [ ]:
# XGBRegressor 모델 생성/학습. Feature에 PCA 적용하기
model_reg =

### 문제 16. Regression 모델 정확도 출력하기

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.metrics import classification_report
from math import sqrt

In [ ]:
# Predict를 수행하고 mean_absolute_error, mean_squared_error, classification_report 결과 출력하기
pred =

## Step 5. Classification 모델 학습하기

### 문제 17. XGBoost 모델 생성/학습하기

In [ ]:
from xgboost import XGBClassifier

In [ ]:
# XGBClassifier 모델 생성/학습
model_cls =

### 문제 18. Classifier의 Feature Importance 시각화하기

In [ ]:
# XGBClassifier 모델의 feature_importances_ 속성 시각화

### 문제 19. Classifier 모델 정확도 출력하기

In [ ]:
# Predict를 수행하고 classification_report() 결과 출력하기
pred =