<a href="https://colab.research.google.com/github/spacemaninSeoul/fast_campus_ML300/blob/main/ML300P3%ED%8C%A8%ED%84%B4%EC%9D%B8%EC%8B%9DC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 1. 철판 제조 공정 데이터를 활용한 분류모형 생성 및 성능 비교

## Step 0. 철판 제조 공정 데이터 소개 및 데이터 준비, 학습목표

**Steel Plates Faults 데이터는 1941개의 샘플을 가지며 아래의 종속변수들과 나머지 설명변수들로 구성됩니다.**

- 종속변수 (7개) - 어떠한 불량이 나타났는지를 나타내고, 다음과 같습니다.
 - Pastry, Z_Scratch, K_Scatch, Stains, Dirtiness, Bumps, Other_Faults

- 설명변수 (27개) - 철판의 길이, 반짝이는 정도, 두께, 타입 등 등 다양한 변수들을 가집니다.
 - 첫번째 칼럼 X_Minimum ~ 27번째 칼럼 SigmoidOfAreas

- 데이터출처: https://www.kaggle.com/mahsateimourikia/faults-nna/notebooks

**제조 공정 데이터의 전반적 특성**

- 제조 공정 데이터는 주로 불량률을 예측하여 불량을 일으키는 원인을 제거하거나 재고를 예측하여 수요에 맞는 생산을 진행하는 등의 목적성을 가집니다.
- 다른 데이터에 비하여 데이터를 얻는 과정이 자동화되어 있는 경우가 많아 데이터 퀄리티가 높은 편이며 결측치가 적은 경향성을 가집니다.


### **학습목표**
```
- 각 모델들의 개괄적 이해 및 구축과정 학습.
- 파라미터를 최적화 시키는 GridSearch에 대한 이해 및 코딩작업 체화.
- 각 모델의 중요 파라미터에 대한 개괄적 이해.
- 파라미터의 변화에 따른 예측력 변화 경향성 파악.
- 최적의 모형 및 파라미터를 찾는 과정에 대한 계획 수립 및 수행.
```

In [1]:
# 구글 드라이브에 내드라이브에서 P3C1폴더를 생성하여 데이터를 준비하고 이를 마운트합니다.
# 계정 인증을 한 후 코드를 복사하여 붙여넣습니다.
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# 마운트가 제대로 진행되었는지 확인합니다. 아래와 같이 폴더 안에 두 데이터 파일이 포함되어 있는 것으로 출력되어야 합니다.
# file_list: ['Faults27x7_var', 'Faults.NNA']
import os
os.chdir('/content/')
path = './drive/MyDrive/P3C1'
file_list = os.listdir(path)

print('file_list: {}'.format(file_list))

file_list: ['Faults27x7_var', 'Faults.NNA']

In [3]:
# Working directory를 설정합니다
os.chdir('/content/drive/MyDrive/P3C1/')

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('Faults.NNA', delimiter='\t', header=None)
df.head()

     0     1        2        3     4   5    6   ...  27  28  29  30  31  32  33
0    42    50   270900   270944   267  17   44  ...   1   0   0   0   0   0   0
1   645   651  2538079  2538108   108  10   30  ...   1   0   0   0   0   0   0
2   829   835  1553913  1553931    71   8   19  ...   1   0   0   0   0   0   0
3   853   860   369370   369415   176  13   45  ...   1   0   0   0   0   0   0
4  1289  1306   498078   498335  2409  60  260  ...   1   0   0   0   0   0   0

[5 rows x 34 columns]

In [13]:
attributes_name = pd.read_csv('Faults27x7_var', header=None)

In [14]:
attributes_name

                        0
0               X_Minimum
1               X_Maximum
2               Y_Minimum
3               Y_Maximum
4            Pixels_Areas
5             X_Perimeter
6             Y_Perimeter
7       Sum_of_Luminosity
8   Minimum_of_Luminosity
9   Maximum_of_Luminosity
10     Length_of_Conveyer
11       TypeOfSteel_A300
12       TypeOfSteel_A400
13  Steel_Plate_Thickness
14            Edges_Index
15            Empty_Index
16           Square_Index
17        Outside_X_Index
18          Edges_X_Index
19          Edges_Y_Index
20   Outside_Global_Index
21             LogOfAreas
22            Log_X_Index
23            Log_Y_Index
24      Orientation_Index
25       Luminosity_Index
26         SigmoidOfAreas
27                 Pastry
28              Z_Scratch
29               K_Scatch
30                 Stains
31              Dirtiness
32                  Bumps
33           Other_Faults

In [15]:
df.columns = attributes_name[0]

In [16]:
df.head()

0  X_Minimum  X_Maximum  Y_Minimum  ...  Dirtiness  Bumps  Other_Faults
0         42         50     270900  ...          0      0             0
1        645        651    2538079  ...          0      0             0
2        829        835    1553913  ...          0      0             0
3        853        860     369370  ...          0      0             0
4       1289       1306     498078  ...          0      0             0

[5 rows x 34 columns]

In [17]:
print(df.shape)

(1941, 34)

In [18]:
#Cpu의 개수를 확인합니다. 
n_cpu = os.cpu_count()
print('The number of cpus: ', n_cpu)
n_thread = n_cpu * 2
print('Expected number of threads', n_thread)

The number of cpus:  2
Expected number of threads 4

## Step 1. 데이터 전처리 및 탐색적 데이터 분석

### 문제 1. 종속변수 범주화 (1) - boolean Seris로 이루어진 list 구성

- 7개의 종속변수들을 각 종속변수가 1인지 아닌지 여부를 알리는 boolean 논리 연산자로 이루어진 seris 형태로 변경합니다. 각 Seris의 길이는 1941입니다.
- 이 7개의 Seris를 list로 이어 붙여 길이 7짜리 list를 만들어 conditions라는 이름으로 저장합니다. 
- 여러 방법이 존재합니다. 방법 1,2는 코드를 제공드리며 풀어주실 문제는 방법3입니다.

In [ ]:
## 방법 1. 논리적 연산자 &를 활용하여 생성합니다.
conditions=[(df['Pastry'] == 1) & (df['Z_Scratch'] == 0)& (df['K_Scatch'] == 0)& (df['Stains'] == 0)& (df['Dirtiness'] == 0)& (df['Bumps'] == 0)& (df['Other_Faults'] == 0), 
            (df['Pastry'] == 0) & (df['Z_Scratch'] == 1)& (df['K_Scatch'] == 0)& (df['Stains'] == 0)& (df['Dirtiness'] == 0)& (df['Bumps'] == 0)& (df['Other_Faults'] == 0),
            (df['Pastry'] == 0) & (df['Z_Scratch'] == 0)& (df['K_Scatch'] == 1)& (df['Stains'] == 0)& (df['Dirtiness'] == 0)& (df['Bumps'] == 0)& (df['Other_Faults'] == 0),
            (df['Pastry'] == 0) & (df['Z_Scratch'] == 0)& (df['K_Scatch'] == 0)& (df['Stains'] == 1)& (df['Dirtiness'] == 0)& (df['Bumps'] == 0)& (df['Other_Faults'] == 0),
            (df['Pastry'] == 0) & (df['Z_Scratch'] == 0)& (df['K_Scatch'] == 0)& (df['Stains'] == 0)& (df['Dirtiness'] == 1)& (df['Bumps'] == 0)& (df['Other_Faults'] == 0),
            (df['Pastry'] == 0) & (df['Z_Scratch'] == 0)& (df['K_Scatch'] == 0)& (df['Stains'] == 0)& (df['Dirtiness'] == 0)& (df['Bumps'] == 1)& (df['Other_Faults'] == 0),
            (df['Pastry'] == 0) & (df['Z_Scratch'] == 0)& (df['K_Scatch'] == 0)& (df['Stains'] == 0)& (df['Dirtiness'] == 0)& (df['Bumps'] == 0)& (df['Other_Faults'] == 1)]

In [19]:
## 방법 2. pandas.Series.astype을 활용합니다.
conditions = [df['Pastry'].astype(bool),
              df['Z_Scratch'].astype(bool),
              df['K_Scatch'].astype(bool),
              df['Stains'].astype(bool),
              df['Dirtiness'].astype(bool),
              df['Bumps'].astype(bool),
              df['Other_Faults'].astype(bool)
              ]

In [ ]:
## (문제) 방법 3. pandas.Series.astype과 map, lambda를 활용합니다
# conditions_bf에 각 변수들의 Seris로 list를 구성합니다.
# conditions_bf을 사용하고 map, lambda를 활용하여 conditions_bf의 각 원소에 astype 함수를 적용합니다.